* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  margin: 0;
  padding: 8px;
  font-size: 34px;
}
#userinput {
  padding: 5px 0px;
  border: 5px solid white;
  box-shadow: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#problems{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#problems a{
    
    color: white;
    font-size: 20px;
    
}
span{
  color: greenyellow;
}
